<launch>

    <arg name="stdout" default="screen" />
    <arg name="camera_name" default="/mono_camera" />
    <arg name="image_topic" default="image_color" />
    <arg name="frame_name" default="mono_camera" />
    <arg name="sensor_id" default="0" />

    <!-- Marker size (side) in meters -->
    <arg name="delta_width_circles" default="0.435" />
    <arg name="delta_height_circles" default="0.348" />
    <arg name="marker_size" default="0.18"/>
    <arg name="delta_width_qr_center" default="0.4785" />
    <arg name="delta_height_qr_center" default="0.3045" />

    <node pkg="velo2cam_calibration" type="mono_qr_pattern" name="mono_pattern_$(arg sensor_id)" output="$(arg stdout)">
        <param name="image_topic" value="$(arg camera_name)/$(arg image_topic)" />
        <param name="cinfo_topic" value="$(arg camera_name)/camera_info" />

        <param name="delta_width_circles" value="$(arg delta_width_circles)" />
        <param name="delta_height_circles" value="$(arg delta_height_circles)" />
        <param name="marker_size" value="$(arg marker_size)" />
        <param name="delta_width_qr_center_" value="$(arg delta_width_qr_center)" />
        <param name="delta_height_qr_center_" value="$(arg delta_height_qr_center)" />
    </node>

    <node pkg="tf" type="static_transform_publisher" name="camera_ros_tf_$(arg sensor_id)" args="0 0 0 -1.57079632679 0 -1.57079632679 rotated_$(arg frame_name) $(arg frame_name) 10"/>
</launch>
